{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ feature_name }}{% endblock %}

{% block css %}
{{ block.super }}
<link href="{% static 'genoverse/css/tooltips.css' %}" rel="stylesheet" ></link>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'genoverse/js/genoverse.min.js' %}"></script>
<script type="text/javascript" src="{% static 'search/js/genoverse.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    <div class="text-2xl font-bold">{{ feature_name }}</div>
    <div>
        <div class="title-separator"></div>
        <div class="p-2" id="genoverse"></div>
        <div class="title-separator"></div>
        <div class="container">
        {% include "search/v1/partials/_paged_nav.html" with data=features no_data="No DNA Features Fount" container_id="dnafeature" prefix="feature" page_query="page" table="search/v1/partials/_features.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block inline_javascript %}
    <script type="module">
        import { State } from "{% static 'search/js/state.js' %}";
        import { dataPages, featureTable, emptyFeatureTable, pageLink } from "{% static 'search/js/tables.js' %}"

        const STATE_LOCATION = "location";
        let state = new State({
            [STATE_LOCATION]: {
                chr: "{{ loc.chr }}",
                start: {{ loc.start }},
                end: {{ loc.end }}
            }
        });

        // Update the chromosome location at the top of the page
        state.addCallback(STATE_LOCATION, (state, key) => {
            let location = state[key];
            __genDataPages(location.chr, location.start, location.end, 1)();
        });

        const _ul = function(_state, key) {
            if (key !== STATE_LOCATION) { return; }
            state.updateSharedState(key, _state[key]);
        };

        let initialLocation = state.getSharedState(STATE_LOCATION);

        let featureURL = function(chromosome, start, end) {
            return `/search/featureloc/${chromosome}/${start}/${end}?search_type=overlap&accept=application/json`;
        };

        {% include "search/v1/partials/_paged_nav_js.html" with data=features no_data="No DNA Feature Found" container_id="dnafeature" prefix="feature" page_query="page" url_function="_ => featureURL(chromo, start, end)" %}

        new CEGSGenoverse({
            container : '#genoverse', // Where to inject Genoverse (css/jQuery selector/DOM element)
            // If no genome supplied, it must have at least chromosomeSize, e.g.:
            // chromosomeSize : 249250621, // chromosome 1, human
            genome    : 'GRCh37', // see js/genomes/
            assembly  : 'GRCh37',
            chr       : "{{ loc.chr }}".replace("chr", ""),
            start     : {{ loc.start }},
            end       : {{ loc.end }},
            plugins   : [[ 'karyotype', { showAssembly: true }], 'trackControls', 'tooltips' ],
            useHash   : true,
            hideEmptyTracks: false,
            sharedStateCallbacks: [_ul],
            tracks    : [
                Genoverse.Track.Scaleline.extend({ strand: false }),
                Genoverse.Track.Scalebar,
                Genoverse.Track.Gene,
            ]
        });

    </script>

{% include 'search/v1/partials/_row_click_js.html' %}

{% endblock %}
