{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% load custom_helpers %}
{% block css %}
{{ block.super }}
<style>
    @media (max-width: 768px) {
        .bi-geo-alt-fill,
        .fa-bolt-lightning,
        .fa-magnifying-glass-arrow-right,
        .fa-barcode {
            display: none;
        }
    }

</style>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'genoverse/js/genoverse.js' %}"></script>
<script type="text/javascript" src="{% static 'search/js/genoverse.js' %}"></script>
{% endblock %}

{% block title %}{{ feature_name }}{% endblock %}

{% block content %}
<!-- HEADER -->
<div class="min-w-full max-w-full">
    <div class="title-separator"></div>
        <div class="flex justify-between md:ps-10">
            <span class="page-header-w-icon">
                <div class="flex flex-wrap">
                {% comment %}
                We want to contruct names for features without a name or that is a "source type".
                "Source types" will never have an ensembl id, as only genes, transcripts, and exons
                have those
                {% endcomment %}
                {% if feature.name and feature.ensembl_id %}
                    <div><span><i class="fa-solid fa-dna"></i> {{ feature.name }}</span></div>
                {% else %}
                    <div>
                        <i class="fa-solid fa-dna"></i> {{ feature.get_feature_type_display }} @
                        <a href="{% url 'search:results' %}?query={{ feature.chrom_name }}:{{ feature.location.lower }}-{{ feature.location.upper|add:"-1" }}">
                            <span class="text-2xl">{{ feature.chrom_name }}: {{ feature.location.lower|intcomma }} - {{ feature.location.upper|add:"-1"|intcomma }}{% if feature.strand %}:{{ feature.strand }}{% endif %}</span>
                        </a>
                    </div>
                {% endif %}

                {% if feature.ensembl_id %}
                    <div><span class="text-2xl">({{ feature.ensembl_id }})</span></div>
                {% endif %}
                </div>
                <select class="global-button mt-3 border-2 p-2 text-sm" id="dropdown">
                    {% for assembly in all_assemblies %}
                        <option value="{% url 'search:dna_features' id_type feature_id %}?assembly={{ assembly.0 }}" {{ assembly.1 }}>{{ assembly.2 }}</option>
                    {% endfor %}
                </select>
            </span>
        </div>

    <div class="title-separator"></div>

    <div class="flex justify-center min-w-full max-w-sm" id="genoverse-container">
        <div class="overflow-x-auto sm:overflow-x-visible">
            <div id="genoverse"></div>
        </div>
    </div>

    <div class="content-container">
        <div class="bg-gray-100 border-b flex flex-wrap justify-center text-center px-5">
            <div class="flex flex-col items-start ml-3 py-4 flex-grow">
                <div class="text-base font-bold text-gray-900">DNA Feature Aliases:</div>
                {% comment %}
                We want to line break wherever we can for narrow screens if the feature might have
                a weird, long "name" like gRNAs and DHSs do -- basically anything that is a '"source type"
                We can identify any of these "source types" because they (and only they) don't have ensembl ids
                {% endcomment %}
                <div class="text-base text-gray-700 font-light italic ml-0.5 {% if not feature.ensembl_id %} break-all{% endif %}">
                    {{ feature.name|default:feature.accession_id }}
                </div>
            </div>
            <div class="flex flex-col items-start ml-3 py-4 flex-grow">
                <div class="text-base font-bold text-gray-900">Location:</div>
                <div class="text-base text-gray-700 font-light italic ml-0.5">
                    <a href="{% url 'search:results' %}?query={{ feature.chrom_name }}:{{ feature.location.lower }}-{{ feature.location.upper|add:'-1' }}" class="text-blue-600 no-underline">
                        <span>{{ feature.chrom_name }}</span>:
                        <span>{{ feature.location.lower|intcomma }} - {{ feature.location.upper|add:"-1"|intcomma }}:{{ feature.strand|if_strand }}</span>
                    </a>
                </div>
            </div>
            <div class="flex flex-col items-start ml-3 py-4 flex-grow">
                <div class="text-base font-bold text-gray-900">Reference Genome:</div>
                <div class="text-base text-gray-700 font-light italic ml-0.5">
                    {{ feature.ref_genome }}
                </div>
            </div>
            <div class="flex flex-col items-start ml-3 py-4 flex-grow">
                <div class="text-base font-bold text-gray-900">Feature Type:</div>
                <div class="text-base text-gray-700 font-light italic ml-0.5">
                    {{ feature.get_feature_type_display }}
                </div>
            </div>
            {% if feature.feature_subtype %}
            <div class="flex flex-col items-start ml-3 py-4 flex-grow">
                <div class="text-base font-bold text-gray-900">Feature Subtype:</div>
                <div class="text-base text-gray-700 font-light italic ml-0.5">
                    {{ feature.feature_subtype|remove_underscores }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!--Tabs navigation-->
    <div class="min-w-full">
        <div class="flex flex-column justify-center">
            <ul
                class="mb-5 flex list-none flex-col flex-wrap border-b-0 pl-0 md:flex-row tab-bar"
                role="tablist"
                data-te-nav-ref
            >
            <li role="presentation">
                <a
                    href="#tabs-source-target"
                    class="my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-4 pt-4 pb-3.5 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400 no-underline flex items-center"
                    id="tabs-source-target-tab"
                    data-te-toggle="pill"
                    data-te-target="#tabs-source-target"
                    role="tab"
                    aria-controls="tabs-source-target"
                    aria-selected="true"
                    data-te-nav-active
                    >Regulatory Effects
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-icon ml-1">
                        <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7 16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3 .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z"
                        /></svg></a>
            </li>
            {% for tab in tabs %}
                {% if tab == "nearest reo" %}
                <li role="presentation">
                    <a
                        href="#tabs-nearest-reo"
                        class="my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-4 pt-4 pb-3.5 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400 no-underline flex items-center"
                        id="tabs-nearest-reo-tab"
                        data-te-toggle="pill"
                        data-te-target="#tabs-nearest-reo"
                        role="tab"
                        aria-controls="tabs-nearest-reo"
                        aria-selected="false"
                        >Proximal Regulatory Effects<i class="bi bi-geo-alt-fill ml-1"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-icon">
                            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7 16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3 .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z"
                            /></svg></a>
                </li>
                {% endif %}
                {% if tab == "closest features" %}
                <li role="presentation">
                    <a
                        href="#tabs-closest-features"
                        class="my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-4 pt-4 pb-3.5 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400 no-underline flex items-center"
                        id="tabs-closest-features-tab"
                        data-te-toggle="pill"
                        data-te-target="#tabs-closest-features"
                        role="tab"
                        aria-controls="tabs-closest-features"
                        aria-selected="false"
                        >Closest DNA Features<svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512"
                            class="svg-icon ml-1"
                        >
                            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M416 0c17.7 0 32 14.3 32 32c0 59.8-30.3 107.5-69.4 146.6c-28 28-62.5 53.5-97.3 77.4l-2.5 1.7c-11.9 8.1-23.8 16.1-35.5 23.9l0 0 0 0 0 0-1.6 1c-6 4-11.9 7.9-17.8 11.9c-20.9 14-40.8 27.7-59.3 41.5H283.3c-9.8-7.4-20.1-14.7-30.7-22.1l7-4.7 3-2c15.1-10.1 30.9-20.6 46.7-31.6c25 18.1 48.9 37.3 69.4 57.7C417.7 372.5 448 420.2 448 480c0 17.7-14.3 32-32 32s-32-14.3-32-32H64c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-59.8 30.3-107.5 69.4-146.6c28-28 62.5-53.5 97.3-77.4c-34.8-23.9-69.3-49.3-97.3-77.4C30.3 139.5 0 91.8 0 32C0 14.3 14.3 0 32 0S64 14.3 64 32H384c0-17.7 14.3-32 32-32zM338.6 384H109.4c-10.1 10.6-18.6 21.3-25.5 32H364.1c-6.8-10.7-15.3-21.4-25.5-32zM109.4 128H338.6c10.1-10.7 18.6-21.3 25.5-32H83.9c6.8 10.7 15.3 21.3 25.5 32zm55.4 48c18.4 13.8 38.4 27.5 59.3 41.5c20.9-14 40.8-27.7 59.3-41.5H164.7z"
                            /></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-icon ml-1">
                            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M416 0c17.7 0 32 14.3 32 32c0 59.8-30.3 107.5-69.4 146.6c-28 28-62.5 53.5-97.3 77.4l-2.5 1.7c-11.9 8.1-23.8 16.1-35.5 23.9l0 0 0 0 0 0-1.6 1c-6 4-11.9 7.9-17.8 11.9c-20.9 14-40.8 27.7-59.3 41.5H283.3c-9.8-7.4-20.1-14.7-30.7-22.1l7-4.7 3-2c15.1-10.1 30.9-20.6 46.7-31.6c25 18.1 48.9 37.3 69.4 57.7C417.7 372.5 448 420.2 448 480c0 17.7-14.3 32-32 32s-32-14.3-32-32H64c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-59.8 30.3-107.5 69.4-146.6c28-28 62.5-53.5 97.3-77.4c-34.8-23.9-69.3-49.3-97.3-77.4C30.3 139.5 0 91.8 0 32C0 14.3 14.3 0 32 0S64 14.3 64 32H384c0-17.7 14.3-32 32-32zM338.6 384H109.4c-10.1 10.6-18.6 21.3-25.5 32H364.1c-6.8-10.7-15.3-21.4-25.5-32zM109.4 128H338.6c10.1-10.7 18.6-21.3 25.5-32H83.9c6.8 10.7 15.3 21.3 25.5 32zm55.4 48c18.4 13.8 38.4 27.5 59.3 41.5c20.9-14 40.8-27.7 59.3-41.5H164.7z"
                            />
                        </svg>
                    </a>
                </li>
                {% endif %}
                {% if tab == "find nearby" %}
                <li role="presentation">
                    <a
                        href="#tabs-find-features"
                        class="my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-4 pt-4 pb-3.5 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400 no-underline flex items-center"
                        id="tabs-find-features-tab"
                        data-te-toggle="pill"
                        data-te-target="#tabs-find-features"
                        role="tab"
                        aria-controls="tabs-find-features"
                        aria-selected="false"
                        >Find Nearby DNA Features
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-icon ml-1">
                            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                        </svg></a>
                </li>
                {% endif %}
                {% if tab == "children" %}
                <li role="presentation">
                    <a
                        href="#tabs-children"
                        class="my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-4 pt-4 pb-3.5 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400 no-underline flex items-center"
                        data-te-toggle="pill"
                        data-te-target="#tabs-children"
                        role="tab"
                        aria-controls="tabs-children"
                        aria-selected="false"
                        >{{ child_feature_type }}S<i class="bi bi-diagram-3-fill ml-1"></i>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>

        <div
            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-source-target"
            role="tabpanel"
            aria-labelledby="tabs-source-target"
            data-te-tab-active
        >

            {% if not sources and not targets %}
            <div class="content-container min-w-full">
                <div class="table-title">
                    No Regulatory Effect Observations Found
                </div>
            </div>
            {% endif %}
            {% if sources %}
            <div id="reg-table" hx-get="{% url 'search:source_effects' feature.accession_id %}" hx-trigger="load" >
            </div>
            {% endif %}

            {% if targets %}
            <div id="target-table" hx-get="{% url 'search:target_effects' feature.accession_id %}" hx-trigger="load" >
            </div>
            {% endif %}
        </div>

        {% for tab in tabs %}
        {% if tab == "nearest reo" %}
        <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-nearest-reo"
            role="tabpanel"
            aria-labelledby="tabs-nearest-reo-tab"
        >
            {% if reos %}
            <div class="mb-8" id="non-target-table" hx-get="{% url 'search:non_target_reo' feature.accession_id %}" hx-trigger="load" >
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if tab == "closest features" %}
        <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-closest-features"
            role="tabpanel"
            aria-labelledby="tabs-files-closest-features"
        >
            <div class="content-container min-w-full max-w-sm">
                <a name="closest-features-{{ feature.accession_id }}"></a>
                <div class="table-title table-container-header">
                    <div class="table-container-title">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-icon mr-1">
                        <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M416 0c17.7 0 32 14.3 32 32c0 59.8-30.3 107.5-69.4 146.6c-28 28-62.5 53.5-97.3 77.4l-2.5 1.7c-11.9 8.1-23.8 16.1-35.5 23.9l0 0 0 0 0 0-1.6 1c-6 4-11.9 7.9-17.8 11.9c-20.9 14-40.8 27.7-59.3 41.5H283.3c-9.8-7.4-20.1-14.7-30.7-22.1l7-4.7 3-2c15.1-10.1 30.9-20.6 46.7-31.6c25 18.1 48.9 37.3 69.4 57.7C417.7 372.5 448 420.2 448 480c0 17.7-14.3 32-32 32s-32-14.3-32-32H64c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-59.8 30.3-107.5 69.4-146.6c28-28 62.5-53.5 97.3-77.4c-34.8-23.9-69.3-49.3-97.3-77.4C30.3 139.5 0 91.8 0 32C0 14.3 14.3 0 32 0S64 14.3 64 32H384c0-17.7 14.3-32 32-32zM338.6 384H109.4c-10.1 10.6-18.6 21.3-25.5 32H364.1c-6.8-10.7-15.3-21.4-25.5-32zM109.4 128H338.6c10.1-10.7 18.6-21.3 25.5-32H83.9c6.8 10.7 15.3 21.3 25.5 32zm55.4 48c18.4 13.8 38.4 27.5 59.3 41.5c20.9-14 40.8-27.7 59.3-41.5H164.7z"/>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-icon mr-2">
                        <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M416 0c17.7 0 32 14.3 32 32c0 59.8-30.3 107.5-69.4 146.6c-28 28-62.5 53.5-97.3 77.4l-2.5 1.7c-11.9 8.1-23.8 16.1-35.5 23.9l0 0 0 0 0 0-1.6 1c-6 4-11.9 7.9-17.8 11.9c-20.9 14-40.8 27.7-59.3 41.5H283.3c-9.8-7.4-20.1-14.7-30.7-22.1l7-4.7 3-2c15.1-10.1 30.9-20.6 46.7-31.6c25 18.1 48.9 37.3 69.4 57.7C417.7 372.5 448 420.2 448 480c0 17.7-14.3 32-32 32s-32-14.3-32-32H64c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-59.8 30.3-107.5 69.4-146.6c28-28 62.5-53.5 97.3-77.4c-34.8-23.9-69.3-49.3-97.3-77.4C30.3 139.5 0 91.8 0 32C0 14.3 14.3 0 32 0S64 14.3 64 32H384c0-17.7 14.3-32 32-32zM338.6 384H109.4c-10.1 10.6-18.6 21.3-25.5 32H364.1c-6.8-10.7-15.3-21.4-25.5-32zM109.4 128H338.6c10.1-10.7 18.6-21.3 25.5-32H83.9c6.8 10.7 15.3 21.3 25.5 32zm55.4 48c18.4 13.8 38.4 27.5 59.3 41.5c20.9-14 40.8-27.7 59.3-41.5H164.7z"/>
                    </svg>
                    Closest DNA Features
                    </div>
                </div>
                <div class="title-separator"></div>
                <div class="overflow-x-auto">
                <table class="data-table">
                    <tr>
                        <th class="chrom-first-end-cap chrom-dark-band">Type</th>
                        <th class="chrom-light-band chrom-right-centromere">Cell Line</th>
                        <th class="chrom-left-centromere chrom-light-band">Location</th>
                        <th class="chrom-dark-band">Distance from TSS (bp)</th>
                        <th class="chrom-last-end-cap chrom-light-band">Feature Details</th>
                    </tr>

                {% for close_feature in closest_features %}
                    <tr data-href="{% url 'search:dna_features' 'accession' close_feature.accession_id %}">
                        <td>{{ close_feature.type }}</td>
                        <td>{{ close_feature.cell_line|default:"N/A" }}</td>
                        <td>
                            <span>{{ close_feature.chrom_name }}</span>:
                            <span>{{ close_feature.location.lower|intcomma }} - {{ close_feature.location.upper|add:"-1"|intcomma }}:{{ close_feature.strand|if_strand }}</span>
                        </td>
                        <td>{{ close_feature.closest_gene_distance|distance_display }}</td>
                        <td>
                            <a href="{% url 'search:dna_features' 'accession' close_feature.accession_id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="svg-link-arrow bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                            </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if tab == "find nearby" %}
        <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-find-features"
            role="tabpanel"
            aria-labelledby="tabs-find-features-tab"
        >
            <div class="content-container">
                <a name="near_features"></a>
                <div class="table-title table-container-header">
                    <div class="table-container-title">
                        <span><i class="fa-solid fa-magnifying-glass"></i> Find Nearby DNA Features</span>
                    </div>
                </div>
                <form hx-get="{% url 'search:dna_feature_loc' feature.chrom_name feature.location.lower feature.location.upper%}?assembly={{ feature.ref_genome }}" hx-trigger="submit" hx-indicator="#spinner" hx-swap="innerHTML" hx-target="#features-table" class="text-center">
                    <div class="title-separator min-w-full"></div>
                    <fieldset name="facetfield">
                        <legend class="flex flex-row group font-bold min-w-full" id="facetHeader{{ forloop.counter }}"><div>{{ facet.name }}</div>
                        </legend>
                        <div class="flex flex-row flex-wrap gap-1 justify-center" aria-labelledby="facetHeader{{ forloop.counter }}">
                            {% for feature_type in dna_feature_types %}
                            <div class="checkbox-divider">
                                <input type="checkbox" id="{{ feature_type }}" name="feature_type" value="{{ feature_type }}"></input>
                                <label for="{{ feature_type }}">{{ feature_type }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <div class="title-separator min-w-full"></div>
                    <label>Feature Distance in base pairs:</label>
                    <input type="text" name="dist" value="1000" />
                    <input
                        type="submit"
                        class="global-button border-2 border-gray-300 h-10 text-sm"
                        value="Find Features"
                    />
                    <i class='fas fa-spinner fa-spin htmx-indicator' id="spinner"></i>
                </form>
            </div>
            <div id="features-table"></div>
        </div>
        {% endif %}

        {% if tab == "children" %}
        <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-children"
            role="tabpanel"
            aria-labelledby="tabs-children-tab"
        >
            <!-- Children -->
            {% if feature.children.exists %}
            <div class="content-container min-w-full max-w-sm">
                    <a name="children-{{ feature.accession_id }}"></a>
                    <div class="table-title table-container-header">
                        <div class="table-container-title">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="30"
                                fill="currentColor"
                                class="bi bi-diagram-3-fill svg-icon mr-2 w-7 h-7"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"
                                />
                            </svg>
                            {{ feature.children.first.get_feature_type_display|upper|add:"S" }}
                        </div>
                    </div>
                    <div class="title-separator"></div>
                    <div class="overflow-x-auto">
                    <table class="data-table">
                        <tr>
                            <th class="chrom-first-end-cap chrom-light-band">ENSEMBL ID</th>
                            <th class="chrom-dark-band">Type</th>
                            <th class="chrom-light-band chrom-right-centromere">Symbol</th>
                            <th class="chrom-last-end-cap chrom-light-band chrom-left-centromere">Location</th>
                        </tr>
            {% endif %}
            {% if feature.children.exists %}
                        {% for child in feature.children.all %}
                        <tr data-href="{% url 'search:dna_features' 'ensembl' child.ensembl_id %}?assembly={{ feature.ref_genome }}">
                            <td><a href="{% url 'search:dna_features' 'ensembl' child.ensembl_id %}?assembly={{ feature.ref_genome }}">{{ child.ensembl_id }}</a></td>
                            <td>{{ child.get_feature_type_display }}</td>
                            <td>{{ child.name }}</td>
                            <td>
                                <span>{{ child.chrom_name }}</span>:
                                <span
                                    >{{ child.location.lower|intcomma }} - {{ child.location.upper|add:"-1"|intcomma }}:{{ child.strand|if_strand }}</span>
                            </td>
                        </tr>
                        {% endfor %}
            {% endif %}
                    </table>
                    </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script type="module">
    import { e, g } from "{% static 'search/js/dom.js' %}";

    let assembly = {
            assembly: "{{ feature.ref_genome }}",
            chromo: "{{ feature.chrom_name }}",
            start: {{ feature.location.lower }},
            end: {{ feature.location.upper|add:"-1" }},
            type: "{{ feature.get_feature_type_display }}",
        };

    if (assembly.type == "Gene") {
        new CEGSGenoverse({
            container : '#genoverse', // Where to inject Genoverse (css/jQuery selector/DOM element)
            // If no genome supplied, it must have at least chromosomeSize, e.g.:
            // chromosomeSize : 249250621, // chromosome 1, human
            genome    : assembly.assembly, // see js/genomes/
            assembly  : assembly.assembly,
            chr       : assembly.chromo.replace("chr", ""),
            start     : assembly.start - 1000,
            end       : assembly.end + 1000,
            plugins   : [[ 'karyotype', { showAssembly: true }], 'trackControls', 'tooltips', 'fileDrop' ],
            useHash   : true,
            hideEmptyTracks: false,
            tracks    : [
                Genoverse.Track.Scaleline.extend({ strand: false }),
                Genoverse.Track.Scalebar,
                Genoverse.Track.cCRE,
                Genoverse.Track.Coverage,
                Genoverse.Track.DHS.Effects,
                Genoverse.Track.Gene,
            ]
        });

        g("genoverse-container").after(e("div", {class: "title-separator"}, []));
    }

    var dropdown = document.getElementById("dropdown");
     dropdown.addEventListener("change", function() {
         window.location.href = this.value;
     });

</script>

{% include 'search/v1/partials/_row_click_js.html' %}

<script src="{% static 'js/tw-elements/index.min.js' %}"></script>
{% endblock %}
