{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ feature_name }}{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/lodash.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% for feature in features %}
        <div class="mb-8">
            <div>
                <span class="text-2xl font-bold">{{ feature.name|default:feature.accession_id }} </span>{% if feature.ensembl_id %}<span class="text-2xl">({{ feature.ensembl_id }})</span>{% endif %}
                {% if feature.children.all|length > 0 %}<span><a href="#children-{{ feature.ensembl_id }}-{{ feature.ref_genome }}">{{ children_name }}</a></span>{% endif %}
                {% if feature.closest_features.all|length > 0 %}<span><a href="#closest-features-{{ feature.ensembl_id }}-{{ feature.ref_genome }}">Other Nearby Features</a></span>{% endif %}
                {% if feature.source_for.all|length > 0 %}<span><a href="#source-for-{{ feature.ensembl_id }}-{{ feature.ref_genome }}">Source for Regulatory Effect Observations</a></span>{% endif %}
                {% if feature.target_of.all|length > 0 %}<span><a href="#target-of-{{ feature.ensembl_id }}-{{ feature.ref_genome }}">Targeting Regulatory Effect Observations</a></span>{% endif %}
            </div>
            {% if feature.feature_subtype %}<div>Type: {{ feature.feature_subtype }}</div>{% endif %}
            <table class="data-table">
                <tr><th>Symbol</th><th>Location</th><th>Strand</th><th>Reference Genome</th><th>Feature Type</th></tr>
                <tr>
                    <td>{{ feature.name|default:feature.accession_id }}</td>
                    <td><span>{{ feature.chrom_name }}</span>: <span>{{ feature.location.lower }}-{{ feature.location.upper|add:"-1" }}</span></td>
                    <td>{{ feature.strand }}</td>
                    <td>{{ feature.ref_genome }}.{{ feature.ref_genome_patch|default:"0" }}</td>
                    <td>{{ feature.get_feature_type_display }}</td>
                </tr>
            </table>

            {% if feature.children.all|length > 0 %}
            <div class="mb-8">
                <a name="children-{{ feature.ensembl_id }}-{{ feature.ref_genome }}"></a>
                <span class="text-xl font-bold">Children</span>
                <table class="data-table">
                    <tr><th>ENSEMBL ID</th><th>Type</th><th>Symbol</th><th>Location</th><th>Strand</th><th>Reference Genome</th></tr>
                    {% for child in feature.children.all %}
                    <tr>
                        <td>{{ child.ensembl_id }}</td>
                        <td>{{ child.get_feature_type_display }}</td>
                        <td>{{ child.name }}</td>
                        <td><span>{{ child.chrom_name }}</span>: <span>{{ child.location.lower }}-{{ child.location.upper|add:"-1" }}</span></td>
                        <td>{{ child.strand }}</td>
                        <td>{{ child.ref_genome }}.{{ child.ref_genome_patch|default:"0" }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    {% endfor %}

    {% for feature in features %}

    {% endfor %}

    {% for feature in features %}
        {% if feature.closest_features.all|length > 0 %}
        <div>
            <a name="closest-features-{{ feature.ensembl_id }}-{{ feature.ref_genome }}"></a>
            <div class="text-xl font-bold">Nearby DNA Features</div>
            <table class="data-table">
                <tr><th>ID</th><th>Type</th><th>Cell Line</th><th>Location</th><th>Strand</th><th>Reference Genome</th></tr>
                {% for close_feature in feature.closest_features.all %}
                    <tr>
                        <td><a href="{% url 'search:dna_features' 'accession' close_feature.accession_id %}">{{ close_feature.accession_id }}</a></td>
                        <td>{{ close_feature.get_feature_type_display }}</td>
                        <td>{{ close_feature.cell_line|default:"N/A" }}</td>
                        <td><span>{{ close_feature.chrom_name }}</span>: <span>{{ close_feature.location.lower }}-{{ close_feature.location.upper|add:"-1" }}</span></td>
                        <td>{{ close_feature.strand|default:"N/A" }}</td>
                        <td>{{ close_feature.ref_genome }}.{{ close_feature.ref_genome_patch|default:"0" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    {% endfor %}

    {% for feature in features %}
        {% if feature.source_for.all|length > 0 %}
        <div>
            <a name="source-for-{{ feature.ensembl_id }}-{{ feature.ref_genome }}"></a>
            <div class="text-xl font-bold">Source for Regulatory Effect Observations</div>
            <table class="data-table">
                <tr><th>ID</th><th>Effect Size</th><th>Direction</th><th>Significance</th><th>Experiment</th><th>Target</th></tr>
                {% for regeffect in feature.source_for.all %}
                    {% for re_target in regeffect.targets.all %}
                    <tr>
                        {% if forloop.first %}
                        <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:reg_effect' regeffect.accession_id %}">{{ regeffect.accession_id }}</a></td>
                        <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.effect_size }}</td>
                        <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.direction }}</td>
                        <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.significance }}</td>
                        <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                        {% endif %}
                       <td><a href="{% url 'search:dna_features' 'accession' re_target.accession_id %}">{{ re_target.accession_id }}</a></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td><a href="{% url 'search:reg_effect' regeffect.accession_id %}">{{ regeffect.accession_id }}</a></td>
                            <td>{{ regeffect.effect_size }}</td>
                            <td>{{ regeffect.direction }}</td>
                            <td>{{ regeffect.significance }}</td>
                            <td><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                            <td>-</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% if feature.target_of.all|length > 0 %}
        <div>
            <a name="target-of-{{ feature.ensembl_id }}-{{ feature.ref_genome }}"></a>
            <div class="text-xl font-bold">Targeting Regulatory Effect Observations</div>
            <table class="data-table">
                <tr><th>ID</th><th>Effect Size</th><th>Direction</th><th>Significance</th><th>Experiment</th><th>Source</th></tr>
                {% for regeffect in feature.target_of.all %}
                    {% for re_source in regeffect.sources.all %}
                    <tr>
                        {% if forloop.first %}
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:reg_effect' regeffect.accession_id %}">{{ regeffect.accession_id }}</a></td>
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">{{ regeffect.effect_size }}</td>
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">{{ regeffect.direction }}</td>
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">{{ regeffect.significance }}</td>
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                        {% endif %}
                        <td><a href="{% url 'search:dna_features' 'accession' re_source.accession_id %}">{{ re_source.accession_id }}</a></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td><a href="{% url 'search:reg_effect' regeffect.accession_id %}">{{ regeffect.accession_id }}</a></td>
                            <td>{{ regeffect.effect_size }}</td>
                            <td>{{ regeffect.direction }}</td>
                            <td>{{ regeffect.significance }}</td>
                            <td><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                            <td>-</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
    {% endfor %}

    <div>
        <a name="near_features"></a>
        <div class="text-xl font-bold">More Nearby DNA Features</div>
        <div class="text-s font-bold">Measured from each end of the gene</div>
        <form>
            <label for="feature-dist">Feature Distance:</label>
            <input type="text" id="feature-dist" value="1000"/>
            <input type="button" id="feature-dist-submit" value="Find Features" class="search-button self-end"/>
        </form>
        <table id="dnafeature" style="display:none;"></table>
    </div>
{% endblock content %}

{% block inline_javascript %}
    <script type="module">
        import { g } from "{% static 'search/js/dom.js' %}";
        import { featureTable } from "{% static 'search/js/tables.js' %}"

        let assemblies = [
            {% for feature in features %}
            {
                assembly: "{{ feature.ref_genome }}",
                chromo: "{{ feature.chrom_name }}",
                start: {{ feature.location.lower }},
                end: {{ feature.location.upper|add:"-1" }},
            },
            {% endfor %}
        ];

        g("feature-dist-submit").onclick = function() {
            let dist = Number(g("feature-dist").value);
            let fetches = assemblies.map(a => {
                let search_start = Math.max(a.start - dist, 0);
                let search_end = a.end + dist;
                return fetch(`/search/featureloc/${a.chromo}/${search_start}/${search_end}?assembly=${a.assembly}&search_type=overlap&accept=application/json`)
                    .then(response => {
                        return response.json()
                    });
            })
            Promise.all(fetches)
                .then(data => {
                    let features = [];
                    console.log(data);
                    for (const d of data) {
                        features.push(...d);
                    }
                    g("dnafeature").replaceWith(featureTable(features, "No nearby DNA Features"))
                });
        }
    </script>
{% endblock %}
