{% extends "base.html" %}
{% load static i18n %}
{% block title %}{{ region_type_name }}{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/lodash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'search/js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="text-2xl font-bold">{{ region_type_name }}</div>
    <div class="pt-8">
        <div class="text-xl font-bold">Site Information</div>
        {% spaceless %}
        <table class="data-table">
                <tr><th>Cell Line</th><th>Location</th><th>Strand</th><th>Closest Gene</th><th>Reference Genome</th><th></th></tr>
            <tr>
                <td>{{ region.cell_line }}</td>
                <td><span>{{ region.chromosome_name }}</span>: <span>{{ region.location.lower }}-{{ region.location.upper }}</span></td>
                <td>{{ region.strand }}</td>
                <td><a href="{% url 'search:features' 'ensembl' region.closest_gene.ensembl_id %}">{{ region.closest_gene_name }}</a></td>
                <td>{{ region.ref_genome }}.{{ region.ref_genome_patch|default:"0" }}</td>
                <td><a href="{% url 'search:region' region.id %}">More...</a></td>
            </tr>
        </table>
        {% endspaceless %}
    </div>

    {% if reg_effects|length > 0 %}
    <div class="pt-8 max-w-5xl">
        <div class="text-xl font-bold">Regulatory Effects</div>
        <button id="hide-effect">Hide Non-Signficant Effects</button>
        {% spaceless %}
        <table class="data-table">
            <tr><th>Direction</th><th>Effect Size</th><th>Significance</th><th>Target Gene</th><th>Experiment</th><th>Co-regulating DHSs</th><th>Co-Sources</th><th></th></tr>
            {% for reg_effect in reg_effects %}
                {% for target in reg_effect.targets.all %}
                <tr>
                    <td>{{ reg_effect.direction }}</td>
                    <td>{{ reg_effect.effect_size }}</td>
                    <td>{{ reg_effect.significance }}</td>
                    <td><a href="{% url 'search:features' 'ensembl' target.ensembl_id %}">{{ target.ensembl_id }}</a></td>
                    <td><a href="{% url 'search:experiment' reg_effect.experiment_id %}">{{ reg_effect.experiment.name }}</a></td>
                    <td>
                        {% for coreg in reg_effect.co_regulators %}
                        <a href="{% url 'search:region' coreg.id %}">DHS:{{ coreg.id }} </a>
                        {% empty %}
                        None
                        {% endfor %}
                    </td>
                    <td>
                        {% for cosrc in reg_effect.co_sources %}
                        <a href="{% url 'search:region' cosrc.id %}">DHS:{{ cosrc.id }} </a>
                        {% empty %}
                        None
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'search:reg_effect' reg_effect.id %}">More...</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td>{{ reg_effect.direction }}</td>
                    <td>{{ reg_effect.effect_size }}</td>
                    <td>{{ reg_effect.significance }}</td>
                    <td>Unknown</td>
                    <td><a href="{% url 'search:experiment' reg_effect.experiment_id %}">{{ reg_effect.experiment.name }}</a></td>
                    <td>
                        {% for coreg in reg_effect.co_regulators %}
                        <a href="{% url 'search:region' coreg.id %}">DHS:{{ coreg.id }} </a>
                        {% empty %}
                        None
                        {% endfor %}
                    </td>
                    <td>
                        {% for cosrc in reg_effect.co_sources %}
                        <a href="{% url 'search:region' cosrc.id %}">DHS:{{ cosrc.id }} </a>
                        {% empty %}
                        None
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'search:reg_effect' reg_effect.id %}">More...</a></td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% endspaceless %}
        <div class="pagination">
            <span class="step-links">
                {% if reg_effects.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ reg_effects.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ reg_effects.number }} of {{ reg_effects.paginator.num_pages }}
                </span>

                {% if reg_effects.has_next %}
                    <a href="?page={{ reg_effects.next_page_number }}">next</a>
                    <a href="?page={{ reg_effects.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% endif %}
    <div>
        <a name="near_regions"></a>
        <div class="text-xl font-bold">Nearby {{ region_type_name_plural }}</div>
        <div class="text-s font-bold">Measured from each end of the gene</div>
        <form>
            <label for="region-dist">{{ region_type_name }} Distance:</label>
            <input type="text" id="region-dist" value="1000"/>
        </form>
        <button id="region-dist-submit" class="search-button self-end">Find {{ region_type_name_plural }}</button>
        <table id="dnaregion" style="display:none;"></table>
        <div id="nearby_region_pagination" display="none"></div>
    </div>
{% endblock %}

{% block inline_javascript %}
    <script>
        let data_pages = function(data_url_function, data_table, data_filter, no_data, data_table_id, pagination_id, id_prefix) {
            let data_page = 1;

            let get_pages = function() {
                fetch(`${data_url_function()}&page=${data_page}`)
                    .then(response => {
                        return response.json()
                    }).then(data => {
                        if(data.num_pages == 0) {
                            document.getElementById(data_table_id).replaceWith(data_table([], no_data));
                            return;
                        }

                        let filtered_data = data["regions"].filter(data_filter);
                        document.getElementById(data_table_id).replaceWith(data_table(filtered_data))
                        document.getElementById(pagination_id).replaceWith(newPagination(pagination_id, data, id_prefix));

                        let page_link = function(link_id, page) {
                            if (link = document.getElementById(link_id)) {
                                link.onclick = function(e) {
                                    e.preventDefault();
                                    data_page = page;
                                    get_pages();
                                }
                            }
                        }

                        page_link(`${id_prefix}_first_link`, 1);
                        page_link(`${id_prefix}_prev_link`, data_page - 1);
                        page_link(`${id_prefix}_next_link`, data_page + 1);
                        page_link(`${id_prefix}_last_link`, data["num_pages"]);
                    });
            }

            return get_pages;
        }

        {% if reg_effects|length > 0 %}
        let nonSigShowing = true;
        let effectButton = g("hide-effect");
        effectButton.onclick = function() {
            nonSigShowing = !nonSigShowing;
            let trs = Array.from(document.getElementsByTagName("tr"));
            let nonSigRows = trs.filter(tr => Array.from(tr.getElementsByTagName("td")).filter(td => td.innerHTML == "non_sig").length != 0);
            for (row of nonSigRows) {
                row.style = `display: ${nonSigShowing ? 'table-row' : 'none'}`
            }
            rc(effectButton, t(nonSigShowing ? "Hide Non-Signficant Effects" : "Show Non-Signficant Effects"));
        }
        {% endif %}

        let region_url = function() {
            let dist = Number(g("region-dist").value);
            let search_start = Math.max({{ region.location.lower }} - dist, 0);
            let search_end = {{ region.location.upper }} + dist;
            return `/search/regionloc/{{ region.chromosome_name }}/${search_start}/${search_end}?assembly={{ region.ref_genome }}&search_type=overlap&accept=application/json&region_type={{ region.region_type }}`
        }

        g("region-dist-submit").onclick = data_pages(
            region_url,
            regionTable,
            region => region.id != {{ region.id }},
            "No nearby {{ region_type_name_plural }}",
            "dnaregion",
            "nearby_region_pagination",
            "nearby_region"
        );
    </script>
{% endblock %}
