{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ feature_name }}{% endblock %}
{% block content %}
    <div class="text-2xl font-bold">{{ feature_name }}</div>
    <div>
        {% include "search/v1/partials/_features.html" with features=features %}
        <div class="pagination">
            <span class="step-links">
                {% if features.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ features.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ features.number }} of {{ features.paginator.num_pages }}
                </span>

                {% if features.has_next %}
                    <a href="?page={{ features.next_page_number }}">next</a>
                    <a href="?page={{ features.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
