{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ feature_name }}{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/lodash.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% for feature in features %}
        <div class="mb-8">
            <div>
                <span class="text-2xl font-bold">{{ feature.name }} </span><span class="text-2xl">({{ feature.ensembl_id }})</span>
                {% if feature.children.all|length > 0 %}<span><a href="#children-{{ feature.ensembl_id }}-{{ feature.ref_genome }}">{{ children_name }}</a></span>{% endif %}
                {% if feature.dnaregion_set.all|length > 0 %}<span><a href="#regions-{{ feature.ensembl_id }}-{{ feature.ref_genome }}">Nearby Regions</a></span>{% endif %}
                {% if feature.reg_effects.all|length > 0 %}<span><a href="#reg_effects-{{ feature.ensembl_id }}-{{ feature.ref_genome }}">Regulatory Effects</a></span>{% endif %}
            </div>
            <div>Type: {{ feature.feature_subtype }}</div>
            <table class="data-table">
                <tr><th>Symbol</th><th>Location</th><th>Strand</th><th>Reference Genome</th></tr>
                <tr>
                    <td>{{ feature.name }}</td>
                    <td><span>{{ feature.chrom_name }}</span>: <span>{{ feature.location.lower }}-{{ feature.location.upper|add:"-1" }}</span></td>
                    <td>{{ feature.strand }}</td>
                    <td>{{ feature.ref_genome }}.{{ feature.ref_genome_patch|default:"0" }}</td>
                </tr>
            </table>

            {% if feature.children.all|length > 0 %}
            <div class="mb-8">
                <a name="children-{{ feature.ensembl_id }}-{{ feature.ref_genome }}"></a>
                <span class="text-xl font-bold">Children</span>
                <table class="data-table">
                    <tr><th>ENSEMBL ID</th><th>Type</th><th>Symbol</th><th>Location</th><th>Strand</th><th>Reference Genome</th></tr>
                    {% for child in feature.children.all %}
                    <tr>
                        <td>{{ child.ensembl_id }}</td>
                        <td>{{ child.feature_type|capfirst }}</td>
                        <td>{{ child.name }}</td>
                        <td><span>{{ child.chrom_name }}</span>: <span>{{ child.location.lower }}-{{ child.location.upper|add:"-1" }}</span></td>
                        <td>{{ child.strand }}</td>
                        <td>{{ child.ref_genome }}.{{ child.ref_genome_patch|default:"0" }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    {% endfor %}

    {% for feature in features %}

    {% endfor %}

    {% for feature in features %}
        {% if feature.dnaregion_set.all|length > 0 %}
        <div>
            <a name="regions-{{ feature.ensembl_id }}-{{ feature.ref_genome }}"></a>
            <div class="text-xl font-bold">Nearby DNA Regions</div>
            <table class="data-table">
                <tr><th>Type</th><th>Cell Line</th><th>Location</th><th>Strand</th><th>Reference Genome</th><th>Reg. Effect Count</th><th></th></tr>
                {% for region in feature.dnaregion_set.all %}
                    <tr>
                        <td>{{ region.region_type }}</td>
                        <td>{{ region.cell_line }}</td>
                        <td><span>{{ region.chrom_name }}</span>: <span>{{ region.location.lower }}-{{ region.location.upper|add:"-1" }}</span></td>
                        <td>{{ region.strand }}</td>
                        <td>{{ region.ref_genome }}.{{ region.ref_genome_patch|default:"0" }}</td>
                        <td>{{ region.regulatory_effects.count }}</td>
                        <td><a href="{% url 'search:region' region.id %}">More... </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    {% endfor %}

    {% for feature in features %}
        {% if feature.regulatory_effects.all|length > 0 %}
        <div>
            <a name="reg_effects-{{ feature.ensembl_id }}-{{ feature.ref_genome }}"></a>
            <div class="text-xl font-bold">Regulatory Effects</div>
            <table class="data-table">
                <tr><th>ID</th><th>Effect Size</th><th>Direction</th><th>Significance</th><th>Experiment</th><th>DHS</th></tr>
                {% for regeffect in feature.regulatory_effects.all %}
                    {% for region in regeffect.sources.all %}
                    <tr>
                        {% if forloop.first %}
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">RE:{{ regeffect.id }}</td>
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">{{ regeffect.effect_size }}</td>
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">{{ regeffect.direction }}</td>
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">{{ regeffect.significance }}</td>
                        <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:experiment' regeffect.experiment_id %}">{{ regeffect.experiment.name }}</a></td>
                        {% endif %}
                        <td><a href="{% url 'search:region' region.id %}">DNA Region:{{ region.id }}</a></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td>RE:{{ regeffect.id }}</td>
                            <td>{{ regeffect.effect_size }}</td>
                            <td>{{ regeffect.direction }}</td>
                            <td>{{ regeffect.significance }}</td>
                            <td>{{ regeffect.experiment_id }}</td>
                            <td>-</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
    {% endfor %}

    <div>
        <a name="near_regions"></a>
        <div class="text-xl font-bold">More Nearby DNA Regions</div>
        <div class="text-s font-bold">Measured from each end of the gene</div>
        <form>
            <label for="region-dist">Feature Distance:</label>
            <input type="text" id="region-dist" value="1000"/>
            <input type="button" id="region-dist-submit" value="Find Regions" class="search-button self-end"/>
        </form>
        <table id="dnaregion" style="display:none;"></table>
    </div>
{% endblock content %}

{% block inline_javascript %}
    <script type="module">
        import { g } from "{% static 'search/js/dom.js' %}";
        import { regionTable } from "{% static 'search/js/tables.js' %}"

        let assemblies = [
            {% for feature in features %}
            {
                assembly: "{{ feature.ref_genome }}",
                chromo: "{{ feature.chrom_name }}",
                start: {{ feature.location.lower }},
                end: {{ feature.location.upper|add:"-1" }},
            },
            {% endfor %}
        ];

        g("region-dist-submit").onclick = function() {
            let dist = Number(g("region-dist").value);
            let fetches = assemblies.map(a => {
                let search_start = Math.max(a.start - dist, 0);
                let search_end = a.end + dist;
                return fetch(`/search/regionloc/${a.chromo}/${search_start}/${search_end}?assembly=${a.assembly}&search_type=overlap&accept=application/json`)
                    .then(response => {
                        return response.json()
                    });
            })
            Promise.all(fetches)
                .then(data => {
                    let regions = [];
                    console.log(data);
                    for (const d of data) {
                        regions.push(...d.objects);
                    }
                    g("dnaregion").replaceWith(regionTable(regions, "No nearby DNA Regions"))
                });
        }
    </script>
{% endblock %}
