{% extends "base.html" %} {% load static i18n %} {% load humanize %} {% load custom_helpers %} {% block css %} {{ block.super }}
<style>
    .container {
        background: #ffffff;
        box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.1);
        padding: 20px 40px;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 1100px;
    }

    h1 {
        font-family: "Arial", sans-serif;
        font-size: 2rem;
        color: #094474;
        text-shadow: 2px 2px #e3f2fd;
        margin-bottom: 10px;
        margin-left: 40px;
        display: flex;
        align-items: center;
    }

    h1 span:nth-child(3),
    span:nth-child(4) {
        font-size: 1.5rem;
    }

    table.data-table {
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, sans-serif;
    }

    table.data-table th {
        padding: 12px;
        text-align: left;
        background-color: #ddd;
        color: gray;
        font-weight: bold;
    }

    table.data-table th:first-child,
    table.data-table th:nth-child(4) {
        border-top-left-radius: 10px 50%;
        border-bottom-left-radius: 10px 50%;
    }

    table.data-table th:nth-child(3),
    table.data-table th:last-child {
        border-top-right-radius: 10px 50%;
        border-bottom-right-radius: 10px 50%;
    }

    table.data-table th:nth-child(2),
    table.data-table th:nth-child(9) {
        background-color: #b7b5b5;
        color: white;
    }

    table.data-table th:nth-child(6) {
        background-color: #b7b5b5;
        color: white;
    }

    table.data-table td {
        padding: 12px;
        border-bottom: 1px solid lightgrey;
    }

    table.data-table tr:hover {
        background-color: #ddd;
    }

    table.data-table a,
    table.data-table a:visited {
        color: #3490dc;
        text-decoration: none;
    }

    tr[data-href]:hover {
        cursor: pointer;
    }

    .table-title {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        color: rgb(107, 107, 107);
    }

    .table-title,
    .svg-icon {
        margin-right: 10px;
        fill: currentColor;
        height: 1em;
    }

    .faded-line {
        border-top: 0.5px solid rgb(133, 139, 146);
        margin-bottom: 15px;
    }

    .profile-feature-faded-line {
        border-top: 1px solid rgb(133, 139, 146);
        margin-bottom: 15px;
    }

    h1 svg {
        margin-right: 10px;
        fill: currentColor;
        height: 1em;
    }

    .profile-table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .profile-table td,
    .profile-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .profile-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .profile-table tr:hover {
        background-color: #ddd;
    }

    .profile-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f2f2f2;
        color: black;
    }

</style>
{% endblock %}{% block content %}
<div>
<div class="profile-feature-faded-line"></div>

        <div style="display: flex; justify-content: space-between">
            <h1>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                   <path
                        d="M416 0c17.7 0 32 14.3 32 32c0 59.8-30.3 107.5-69.4 146.6c-28 28-62.5 53.5-97.3 77.4l-2.5 1.7c-11.9 8.1-23.8 16.1-35.5 23.9l0 0 0 0 0 0-1.6 1c-6 4-11.9 7.9-17.8 11.9c-20.9 14-40.8 27.7-59.3 41.5H283.3c-9.8-7.4-20.1-14.7-30.7-22.1l7-4.7 3-2c15.1-10.1 30.9-20.6 46.7-31.6c25 18.1 48.9 37.3 69.4 57.7C417.7 372.5 448 420.2 448 480c0 17.7-14.3 32-32 32s-32-14.3-32-32H64c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-59.8 30.3-107.5 69.4-146.6c28-28 62.5-53.5 97.3-77.4c-34.8-23.9-69.3-49.3-97.3-77.4C30.3 139.5 0 91.8 0 32C0 14.3 14.3 0 32 0S64 14.3 64 32H384c0-17.7 14.3-32 32-32zM338.6 384H109.4c-10.1 10.6-18.6 21.3-25.5 32H364.1c-6.8-10.7-15.3-21.4-25.5-32zM109.4 128H338.6c10.1-10.7 18.6-21.3 25.5-32H83.9c6.8 10.7 15.3 21.3 25.5 32zm55.4 48c18.4 13.8 38.4 27.5 59.3 41.5c20.9-14 40.8-27.7 59.3-41.5H164.7z"
                    />
                </svg>
                    <span>{{ feature.name }}</span>
                    <span>({{ feature.ensembl_id}})</span>

        </div>
    <div class="profile-feature-faded-line"></div>
    <div class="container">
        <table class="profile-table">
            <tr>
                <th>DNA Feature Aliases</th>
                <th>Location</th>
                <th>Strand</th>
                <th>Reference Genome</th>
                <th>Feature Type</th>
                <th>Feature Subtype</th>

            </tr>
            <tr>
                <td>{{ feature.name|default:feature.accession_id }}</td>
                <td>
                    <a href="{% url 'search:results' %}?query={{ feature.chrom_name }}:{{ feature.location.lower }}-{{ feature.location.upper|add:"-1" }}">
                        <span>{{ feature.chrom_name }}</span>:
                        <span>{{ feature.location.lower|intcomma }} - {{ feature.location.upper|add:"-1"|intcomma }}</span>
                    </a>
                </td>
                <td>{{ feature.strand }}</td>
                <td>{{ feature.ref_genome }}.{{ feature.ref_genome_patch|default:"0" }}</td>
                <td>{{ feature.get_feature_type_display }}</td>
                {% if feature.feature_subtype %}
                <td>{{ feature.feature_subtype|remove_underscores }}</td>
                {% endif %}
            </tr>
        </table>
    </div>
{% if non_targeting_reos %}
    <div class="mb-8">
        <div class="container">
            <a name="non-targetig-reos-{{ feature.accession_id }}"></a>
            <div class="table-title" style="display: flex; align-items: center; justify-content: center">
                <i class="bi bi-geo-alt-fill location-tab-icon"></i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-icon">
                    <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7 16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3 .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z"
                    /></svg>
                Proximal REO's
            </div>
            <div class="faded-line"></div>
            <table class="data-table">
                <tr>
                    <th>Location</th>
                    <th>Effect Size</th>
                    <th>Direction</th>
                    <th>Significance</th>
                    <th>Distance from Gene</th>
                    <th>Source</th>
                    <th>Experiment</th>
                </tr>
    {% endif %}
    {% if non_targeting_reos %}
    {% for reo in non_targeting_reos %}
    <tr data-href="{% url 'search:reg_effect' reo.accession_id %}">
        <td>
            <span>{{ reo.sources.first.chrom_name }}: {{ reo.sources.first.location.lower|intcomma }} - {{ reo.sources.first.location.upper|add:"-1"|intcomma }}</span>
        </td>
        <td>{{ reo.effect_size }}</td>
        <td>{{ reo.direction }}</td>
        <td>{% if reo.significance < 0.000001 %}{{ reo.significance|stringformat:".6e" }}{% else %}{{ reo.significance|stringformat:".6f" }}{% endif %}</td>
        <td>{{ reo.sources.first.closest_gene_distance|intcomma }}bp</td>
        <td>
            <div class="w-[100px]">
                <p class="source-file-name text-ellipsis overflow-hidden ...">{{ reo.sources.first.get_feature_type_display }}</p>
            </div>
        </td>
        <td><a href="{% url 'search:experiment' reo.experiment.accession_id %}">{{ reo.experiment.name }}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
            </table>
        </div>
    </div>
    </div>
</div>

{% endblock %}