{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% load custom_helpers %}
{% block css %}
{{ block.super }}
<style>
    .experiment-name,
    .accession-id {
        font-weight: 300;
    }

    .experiment_name {
        text-decoration: none;
        margin-right: 5px;
        margin-left: 5px;
        color: #3490dc
    }

    .experiment-header-title {
        text-align: center;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    .header-w-icon {
        font-family: sans-serif;
        font-size: 2rem;
        color: #094474;
        text-shadow: 2px 2px #e3f2fd;
        margin-bottom: 10px;
    }

</style>
{% endblock %}

{% block title %}Regulatory Effect Observation{% endblock %}

{% block content %}
<div>
    <div class="title-separator"></div>
    <div class="flex flex-col flex-wrap items-center justify-center mb-3.5">
        <div class="header-w-icon flex flex-wrap items-center justify-center">
                <i class="fa-solid fa-eye"></i>
                <span>{{ regulatory_effect.accession_id }}</span> <span class="ml-1 text-2xl">(Regulatory Effect Observation)</span>
        </div>
        <div class="experiment-header-title flex flex-wrap items-center justify-center">
            Experiment:
            <a href="{% url 'search:experiment' regulatory_effect.experiment.accession_id %}" class="experiment_name">
                <i class="fa-solid fa-flask-vial"></i> {{ regulatory_effect.experiment.name }}</a>
        </div>
    </div>
    <div class="title-separator"></div>
    {% spaceless %}
    <div class="content-container">
        <div class="bg-gray-100 border-b flex flex-wrap text-center">
            <div class="flex items-center ml-3 py-4">
                <div class="text-base font-bold text-gray-900">Direction</div>
                <div class="text-base text-gray-700 font-light italic ml-2">
                    {{ regulatory_effect.direction }}
                </div>
            </div>
            <div class="flex items-center ml-3 py-4">
                <div class="text-base font-bold text-gray-900">Effect Size</div>
                <div class="text-base text-gray-700 font-light italic ml-2">
                    {{ regulatory_effect.effect_size|format_effect_size }}
                </div>
            </div>
            <div class="flex items-center ml-3 py-4">
                <div class="text-base font-bold text-gray-900">Corrected p-value</div>
                <div class="text-base text-gray-700 font-light italic ml-2">
                    {{ regulatory_effect.significance|format_pval }}
                </div>
            </div>
            <div class="flex items-center ml-3 py-4">
                <div class="text-base font-bold text-gray-900">Raw p-value</div>
                <div class="text-base text-gray-700 font-light italic ml-2">
                    {{ regulatory_effect.raw_p_value|format_pval }}
                </div>
            </div>
            <div class="flex items-center ml-3 py-4">
                <div class="text-base font-bold text-gray-900">Cell Lines</div>
                <div class="text-base text-gray-700 font-light italic ml-2 mr-2">
                    {{ regulatory_effect.cell_lines|join:", " }}
                </div>
            </div>
            {% if regulatory_effect.tissue_types.exist %}
            <div class="flex items-center ml-3 py-4">
                <div class="text-base font-bold text-gray-900">Tissue Types</div>
                <div class="text-base text-gray-700 font-light italic ml-2">
                    {{ feature.feature_subtype|remove_underscores }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% if regulatory_effect.sources.exists %}
    <div class="content-container">
        <div class="min-w-full max-w-sm">
        <div class="table-title flex flex-col sm:flex-row max-w-full min-w-full justify-between items-center">
            <div class="table-container-title mx-auto">
                <i class="fa-solid fa-shapes"></i>
                Tested Elements
            </div>
            <div class="justify-end items-center">
                <span class="text-lg">Download:</span>
                <a href="{% url 'search:reg_effect_sources' regulatory_effect.accession_id %}?accept=text/tab-separated-values">
                    <button class="tsv-button" id="downloadButton">TSV</button>
                </a>
                <a href="{% url 'search:reg_effect_sources' regulatory_effect.accession_id %}?accept=text/tab-separated-values&tsv_format=bed6">
                    <button class="tsv-button" id="downloadButtonNew">BED6</button>
                </a>
            </div>
        </div>
        <div class="title-separator"></div>
        <div class="overflow-x-auto">
        {% include "search/v1/partials/_reg_effect_source.html" with features=regulatory_effect.sources.all %}
        </div>
    </div>
    </div>
    {% endif %}

    {% if regulatory_effect.targets.exists %}
    <div class="content-container overflow-x-auto">
        <div class="min-w-full max-w-sm">
        <div class="table-title flex flex-col sm:flex-row max-w-full min-w-full justify-between items-center">
            <div class="table-container-title mx-auto">
                <i class="fa-solid fa-dna mr-1"></i><i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                Target Genes
            </div>
            <div class="justify-end items-center">
                <span class="text-lg">Download:</span>
                <a href="{% url 'search:reg_effect_targets' regulatory_effect.accession_id %}?accept=text/tab-separated-values">
                    <button class="tsv-button" id="downloadButton">TSV</button>
                </a>
                <a href="{% url 'search:reg_effect_targets' regulatory_effect.accession_id %}?accept=text/tab-separated-values&tsv_format=bed6">
                    <button class="tsv-button" id="downloadButtonNew">BED6</button>
                </a>
            </div>
        </div>
        <div class="title-separator"></div>
        <div class="overflow-x-auto">
        {% include "search/v1/partials/_reg_effect_target.html" with features=regulatory_effect.targets.all %}
        </div>
    </div>
    </div>
    {% endif %}
    {% endspaceless %}
</div>
{% endblock content %}
{% block inline_javascript %}
{% include 'search/v1/partials/_row_click_js.html' %}
{% endblock %}
