{% extends "base.html" %}
{% load static i18n %}
{% block title %}Regulatory Effect Observation{% endblock %}

{% block content %}
    <div class="text-2xl font-bold">Regulatory Effect Observation</div>

    {% spaceless %}
    <table class="data-table">
        <tr><th>Direction</th><td>{{ regulatory_effect.direction }}</td></tr>
        <tr><th>Effect Size</th><td>{{ regulatory_effect.effect_size }}</td></tr>
        <tr><th>Significance</th><td>{{ regulatory_effect.significance }}</td></tr>
        <tr><th>Raw p-value</th><td>{{ regulatory_effect.raw_p_value }}</td></tr>
        <tr><th>Experiment</th><td><a href="{% url 'search:experiment' regulatory_effect.experiment.accession_id %}">{{ regulatory_effect.experiment.name }}</a></td></tr>
        <tr><th>Cell Lines</th><td>{{ regulatory_effect.cell_lines|join:", " }}</td></tr>
        <tr><th>Tissue Types</th><td>{{ regulatory_effect.tissue_types|join:", " }}</td></tr>
    </table>

    {% if regulatory_effect.targets.all|length > 0 %}
    <div>
        <div class="text-xl font-bold">Target Genes</div>
        {% include "search/v1/partials/_features.html" with features=regulatory_effect.targets.all %}
    </div>
    {% endif %}

    {% if regulatory_effect.sources.all|length > 0 %}
    <div>
        <div class="text-xl font-bold">Source Features</div>
        {% include "search/v1/partials/_features.html" with features=regulatory_effect.sources.all %}
    </div>
    {% endif %}
    {% endspaceless %}
{% endblock %}
