{% extends "base.html" %}
{% load static i18n %}

{% block css %}
{{ block.super }}
<style>
#error-body {
    margin-top: 0
}
</style>
{% endblock %}

{% block content %}
    <div class="bg-white rounded-lg shadow p-6 space-y-4 md:space-y-6 sm:p-8">
        <table class="profile-table">
            <thead>
                <tr><th>ID</th><th>Status</th><th>Description</th><th>Created</th><th>Modified</th></tr>
            </thead>
            <tbody>
                <tr><td>{{ task.id }}</td><td>{% if task.status == "E" %}
                    <span class="text-red-600">{{ task.get_status_display }}</span>
                    {% else %}
                    {{ task.get_status_display }}
                    {% endif %}</td><td>{{ task.description }}</td><td>{{ task.created }}</td><td>{{ task.modified }}</td></tr>
            </tbody>
        </table>
        {% if task.status == "E" %}
        <div class="font-bold text-lg">Error Message:</div>
        <div id="error-body">{{ task.error_message }}</div>
        {% endif %}
    </div>
{% endblock content %}
