{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <div class="bg-white rounded-lg shadow p-6 space-y-4 md:space-y-6 sm:p-8">
        <table class="profile-table">
            <thead>
                <tr><th>ID</th><th>Status</th><th>Description</th><th>Created</th><th>Modified</th></tr>
            </thead>
            <tbody>
                <tr><td>{{ task.id }}</td><td>{{ task.get_status_display }}</td><td>{{ task.description }}</td><td>{{ task.created }}</td><td>{{ task.modified }}</td></tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
