{% extends "base.html" %}
{% load static i18n %}
{% block title %}DNase I Hypersensitive Site{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/lodash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'search/js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="text-2xl font-bold">DNase I Hypersensitive Site</div>
    <div class="pt-8">
        <div class="text-xl font-bold">Site Information</div>
        {% spaceless %}
        <table class="data-table">
                <tr><th>ID</th><th>Cell Line</th><th>Location</th><th>Strand</th><th>Closest Gene</th><th>Reference Genome</th></tr>
            <tr>
                <td><a href="{% url 'search:dhs' dhs.id %}">DHS:{{ dhs.id }}</a></td>
                <td>{{ dhs.cell_line }}</td>
                <td><span>{{ dhs.chromosome_name }}</span>: <span>{{ dhs.location.lower }}-{{ dhs.location.upper }}</span></td>
                <td>{{ dhs.strand }}</td>
                <td><a href="{% url 'search:features' 'ensembl' dhs.closest_gene.ensembl_id %}">{{ dhs.closest_gene.ensembl_id }}</a></td>
                <td>{{ dhs.ref_genome }}.{{ dhs.ref_genome_patch|default:"0" }}</td>
            </tr>
        </table>
        {% endspaceless %}
    </div>

    <div class="pt-8 max-w-5xl">
        <div class="text-xl font-bold">Regulatory Effects</div>
        <button id="hide-effect">Hide Non-Signficant Effects</button>
        {% spaceless %}
        <table class="data-table">
            <tr><th>Direction</th><th>Effect Size</th><th>Significance</th><th>Target Gene</th><th>Experiment</th><th>Co-regulating DHSs</th><th>Co-Sources</th><th></th></tr>
            {% for reg_effect in reg_effects %}
                {% for target in reg_effect.targets.all %}
                <tr>
                    <td>{{ reg_effect.direction }}</td>
                    <td>{{ reg_effect.effect_size }}</td>
                    <td>{{ reg_effect.significance }}</td>
                    <td><a href="{% url 'search:features' 'ensembl' target.ensembl_id %}">{{ target.ensembl_id }}</a></td>
                    <td><a href="{% url 'search:experiment' reg_effect.experiment_id %}">{{ reg_effect.experiment.name }}</a></td>
                    <td>
                        {% for coreg in reg_effect.co_regulators %}
                        <a href="{% url 'search:dhs' coreg.id %}">DHS:{{ coreg.id }} </a>
                        {% empty %}
                        None
                        {% endfor %}
                    </td>
                    <td>
                        {% for cosrc in reg_effect.co_sources %}
                        <a href="{% url 'search:dhs' cosrc.id %}">DHS:{{ cosrc.id }} </a>
                        {% empty %}
                        None
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'search:reg_effect' reg_effect.id %}">More...</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td>{{ reg_effect.direction }}</td>
                    <td>{{ reg_effect.effect_size }}</td>
                    <td>{{ reg_effect.significance }}</td>
                    <td>Unknown</td>
                    <td><a href="{% url 'search:experiment' reg_effect.experiment_id %}">{{ reg_effect.experiment.name }}</a></td>
                    <td>
                        {% for coreg in reg_effect.co_regulators %}
                        <a href="{% url 'search:dhs' coreg.id %}">DHS:{{ coreg.id }} </a>
                        {% empty %}
                        None
                        {% endfor %}
                    </td>
                    <td>
                        {% for cosrc in reg_effect.co_sources %}
                        <a href="{% url 'search:dhs' cosrc.id %}">DHS:{{ cosrc.id }} </a>
                        {% empty %}
                        None
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'search:reg_effect' reg_effect.id %}">More...</a></td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% endspaceless %}
        <div class="pagination">
            <span class="step-links">
                {% if reg_effects.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ reg_effects.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ reg_effects.number }} of {{ reg_effects.paginator.num_pages }}
                </span>

                {% if reg_effects.has_next %}
                    <a href="?page={{ reg_effects.next_page_number }}">next</a>
                    <a href="?page={{ reg_effects.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <div>
        <a name="near_dhss"></a>
        <div class="text-xl font-bold">Nearby DHSs</div>
        <div class="text-s font-bold">Measured from each end of the gene</div>
        <form>
            <label for="dhs-dist">DHS Distance:</label>
            <input type="text" id="dhs-dist" value="1000"/>
        </form>
        <button id="dhs-dist-submit" class="search-button self-end">Find DHSs</button>
        <table id="dnaregion" style="display:none;"></table>
    </div>
{% endblock %}

{% block inline_javascript %}
    <script>
        let nonSigShowing = true;
        let effectButton = g("hide-effect");
        effectButton.onclick = function() {
            nonSigShowing = !nonSigShowing;
            let trs = Array.from(document.getElementsByTagName("tr"));
            let nonSigRows = trs.filter(tr => Array.from(tr.getElementsByTagName("td")).filter(td => td.innerHTML == "non_sig").length != 0);
            for (row of nonSigRows) {
                row.style = `display: ${nonSigShowing ? 'table-row' : 'none'}`
            }
            rc(effectButton, t(nonSigShowing ? "Hide Non-Signficant Effects" : "Show Non-Signficant Effects"));
        }

        g("dhs-dist-submit").onclick = function() {
            let dist = Number(g("dhs-dist").value);
            let search_start = Math.max({{ dhs.location.lower }} - dist, 0);
            let search_end = {{ dhs.location.upper }} + dist;
            fetch(`/search/dhsloc/{{ dhs.chromosome_name }}/${search_start}/${search_end}?assembly={{ dhs.ref_genome }}&search_type=overlap&accept=application/json&region_type=dhs`)
                .then(response => {
                    return response.json()
                }).then(data => {
                    document.getElementById("dnaregion").replaceWith(dhsTable(data.filter(dhs => dhs.id != {{ dhs.id }}), "No nearby DHSs"))
                });
            }
    </script>
{% endblock %}
