{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ feature_name }}{% endblock %}
{% block content %}
    <div class="text-2xl font-bold">{{ feature_name }}</div>
    <div>
        <table class="data-table">
            <tr><th>ENSEMBL ID</th><th>Type</th><th>Name</th><th>Location</th><th>Strand</th><th>Reference Genome</th></tr>
            {% for feature, assemblies in features.items %}
            {% cycle 'bg-blue-100' 'bg-blue-50' as rowcolor silent %}
                {% for assembly in assemblies %}
                    <tr class="{% cycle 'bg-blue-100' 'bg-blue-50' %}">
                        {% if forloop.first %}
                        <td class="{{ rowcolor }}" rowspan="{{ assemblies|length }}" scope="rowgroup"><a href="{% url 'search:features' 'ensembl' feature.ensembl_id %}">{{ feature.ensembl_id }}</a></td>
                        <td class="{{ rowcolor }}" rowspan="{{ assemblies|length }}" scope="rowgroup">{{ feature.feature_subtype }}</td>
                        {% endif %}
                        <td>{{ assembly.name }}</td>
                        <td><span>{{ assembly.chrom_name }}</span>: <span>{{ assembly.location.lower }}-{{ assembly.location.upper|add:"-1" }}</span></td>
                        <td>{{ assembly.strand }}</td>
                        <td>{{ assembly.ref_genome }}.{{ assembly.ref_genome_patch|default:"0" }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
