{% extends "base.html" %}
{% load static i18n %}

{% block css %}
{{ block.super }}
<style>
    #nav-searchbar {
        display: none;
    }

    .container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.1);
        font-family: sans-serif;
        color: #094474;
        text-align: center;
    }

    .container a {
        color: #2196f3;
        text-decoration: none;
    }

    .container a:hover {
        text-decoration: underline;
    }

    .searchwrapper div {
        display: inline;
    }

    h1 {
        font-family: sans-serif;
        font-size: 2rem;
        color: #094474;
        text-shadow: 2px 2px #e3f2fd;
        align-items: center;
        font-weight: bold;
    }

    .byline {
        color: #094474;
    }

    .byline a:visited {
        color: #094474;
    }
</style>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <div class="flex flex-col items-center mb-4">
        <h1>Explore CCGR Assays</h1>
    </div>
    <div  class="flex flex-col items-center gap-y-8">
        <div class="container p-4 min-w-fit max-w-fit">
            <div class="text-m mb-2">Enter chromosome ranges, Ensembl IDs, or gene names</div>
            <form action="{% url 'search:results' %}" method="get" class="search">
                <div class="searchwrapper">
                    {{ form }}
                    <input type="submit" value="Go" class="search-button" />
                </div>
            </form>
        </div>

        <div class="container min-w-fit max-w-fit">
            <a href="{% url 'search:experiments' %}"><div class="text-2xl font-bold whitespace-nowrap">Browse All Experiments</div></a>
        </div>

        <div class="byline">by the <a href="https://ccgr.duke.edu">Duke Center for Combinatorial Gene Regulation</a></div>
    </div>
</div>
{% endblock %}
