{% for gene, assemblies in genes.items %}
    <div>
        <div><a href="{% url 'search:genes' 'ensembl' gene.ensembl_id %}">{{ gene.ensembl_id }}</a> {{ gene.gene_type }}</div>
        <table class="data-table">
            <tr><th>Assembly</th><th>Location</th><th>Strand</th><th>Reference Genome</th></tr>
            {% for assembly in assemblies %}
                <tr>
                    <td>{{ assembly.name }}</td>
                    <td><span>{{ assembly.chrom_name }}</span>: <span>{{ assembly.location.lower }}-{{ assembly.location.upper|add:"-1" }}</span></td>
                    <td>{{ assembly.strand }}</td>
                    <td>{{ assembly.ref_genome }}.{{ assembly.ref_genome_patch|default:"0" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}
