{% load humanize %}
<style>
    .container {
        background: #ffffff;
        box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.1);
        padding: 20px 40px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .table-title {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        color: rgb(107, 107, 107);
    }
    .reg_data-table {
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, sans-serif;
    }
    .reg_data-table th {
        padding: 12px;
        text-align: left;
        background-color: #ddd;
        color: gray;
        font-weight: bold;
    }
    .reg_data-table th:first-child,
    .reg_data-table th:nth-child(5) {
        border-top-left-radius: 10px 50%;
        border-bottom-left-radius: 10px 50%;
    }
    .reg_data-table th:nth-child(4),
    .reg_data-table th:last-child {
        border-top-right-radius: 10px 50%;
        border-bottom-right-radius: 10px 50%;
    }

    .reg_data-table th:nth-child(2) {
        background-color: #b7b5b5;
        color: white;
    }

    .reg_data-table th:nth-child(6) {
        background-color: #b7b5b5;
        color: white;
    }

    .reg_data-table td {
        padding: 12px;
        border-bottom: 1px solid lightgrey;
    }
    .reg_data-table tr:hover {
        background-color: #ddd;
    }
    .reg_data-table a,
    .reg_data-table a:visited {
        color: #3490dc;
        text-decoration: none;
        /* font-weight: bold; */
    }

    .direction {
        font-style: italic;
    }
    .experiment-name,
    .accession-id {
        font-weight: 300;
    }
    .table-title,
    .svg-icon {
        fill: currentColor;
        height: 1em;
    }

    .target_name {
        font-weight: bold;
    }

    .faded-line {
        border-top: 0.5px solid rgb(133, 139, 146);

        margin-bottom: 15px;
    }
</style>

    <div>
        <table class="reg_data-table">
            <tr><th>ID</th><th>Name</th><th>Feature Type</th><th>Cell Line</th><th>Location</th><th>Strand</th><th>Closest Gene</th><th>Reference Genome</th></tr>
            {% for feature in features %}
                <tr class="data-row">
                    <td><a href="{% url 'search:dna_features' 'accession' feature.accession_id %}">{{ feature.accession_id }}</a></td>
                    <td>{{ feature.name|default:"N/A" }}</a></td>
                    <td>{{ feature.get_feature_type_display }}</td>
                    <td>{{ feature.cell_line }}</td>
                    <td><span>{{ feature.chrom_name }}</span>: <span>{{ feature.location.lower }}-{{ feature.location.upper|add:"-1" }}</span></td>
                    <td>{{ feature.strand }}</td>
                    <td>{% if feature.closest_gene_ensembl_id %}<a href="/search/feature/ensembl/{{ feature.closest_gene_ensembl_id }}">{{ feature.closest_gene_name }} ({{ feature.closest_gene_ensembl_id }})</a>{% else %}N/A{% endif %}</td>
                    <td>{{ feature.ref_genome }}.{{ feature.ref_genome_patch|default:"0" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
