{% load humanize %}
{% load custom_helpers %}
{% load static %}

<div class="content-container min-w-full max-w-sm">
    <a name="non-targeting-reos-{{ feature.accession_id }}"></a>
    <div class="table-title flex flex-col md:flex-row items-center justify-between">
        <div class="flex-1">
            <!-- This empty div takes up space on the left for centering and for responsive design-->
        </div>
        <div class="table-container-title mx-auto">
            <i class="bi bi-geo-alt-fill location-tab-icon"></i>
            <i class="fa-solid fa-bolt-lightning"></i>
            Proximal Regulatory Effect Observations
            <div class="relative group inline-block">
                <i class="fa-solid fa-circle-info"></i>
                <span class="absolute left-1/2 transform -translate-x-1/2 top-full mt-2 w-64 px-2 py-1 text-sm border border-gray-300 bg-white rounded opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    Nearby regulatory effect observations that have not been experimentally linked to {{feature.name}} or any other gene
                </span>
            </div>
        </div>
        <div class="flex-1 flex justify-end items-center">
            <span class="text-lg">Download:</span>
            <a href="{% url 'search:non_target_reo' feature.accession_id %}?accept=text/tab-separated-values&tsv_format=original">
                <button class="tsv-button" id="downloadButton">TSV</button>
            </a>
            <a href="{% url 'search:non_target_reo' feature.accession_id %}?accept=text/tab-separated-values&tsv_format=bed6">
                <button class="tsv-button" id="downloadButtonNew">BED6</button>
            </a>
        </div>
    </div>
    <div class="title-separator"></div>
    <div class="overflow-x-auto">
        <table class="data-table">
            <tr>
                <th class="chrom-light-band chrom-first-end-cap">Location</th>
                <th class="chrom-dark-band">Effect Size (log2FC)</th>
                <th class="chrom-light-band">Direction</th>
                <th class="chrom-light-band">Corrected<br />p-value</th>
                <th class="chrom-light-band chrom-right-centromere">Distance from TSS (bp)</th>
                <th class="chrom-light-band chrom-left-centromere">Tested Element Type</th>
                <th class="chrom-last-end-cap chrom-dark-band">Experiment</th>
            </tr>
            {% for reo in non_targeting_reos %}
            {% with first_source=reo.sources.all.0 %}
            <tr data-href="{% url 'search:reg_effect' reo.accession_id %}">
                <td>
                    <span>{{ first_source.chrom_name }}: {{ first_source.location.lower|intcomma }} - {{ first_source.location.upper|add:"-1"|intcomma }}</span>
                </td>
                <td>{{ reo.effect_size|format_effect_size }}</td>
                <td>{{ reo.direction }}</td>
                <td>{{ reo.significance|format_pval }}</td>
                <td>{{ first_source.closest_gene_distance|distance_display }}</td>
                <td>
                    <div class="w-[100px]">
                        <p class="source-file-name text-ellipsis overflow-hidden ...">{{ first_source.get_feature_type_display }}</p>
                    </div>
                </td>
                <td><a href="{% url 'search:experiment' reo.experiment.accession_id %}">{{ reo.experiment.name }}</a></td>
            </tr>
            {% endwith %}
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if non_targeting_reos.has_previous %}
                    <a href="?page=1" hx-get="{% url 'search:non_target_reo' feature.accession_id %}?page=1" hx-target="#non-target-table">&laquo; first</a>
                    <a href="?page={{ non_targeting_reos.previous_page_number }}" hx-get="{% url 'search:non_target_reo' feature.accession_id %}?page={{ non_targeting_reos.previous_page_number }}" hx-target="#non-target-table">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ non_targeting_reos.number }} of {{ non_targeting_reos.paginator.num_pages }}
                </span>

                {% if non_targeting_reos.has_next %}
                    <a href="?page={{ non_targeting_reos.next_page_number }}" hx-get="{% url 'search:non_target_reo' feature.accession_id %}?page={{ non_targeting_reos.next_page_number }}" hx-target="#non-target-table">next</a>
                    <a href="?page={{ non_targeting_reos.paginator.num_pages }}" hx-get="{% url 'search:non_target_reo' feature.accession_id %}?page={{ non_targeting_reos.paginator.num_pages }}" hx-target="#non-target-table">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% include 'search/v1/partials/_row_click_js.html' %}
