{% if data|length > 0 %}
<div id="{{ container_id }}" class="my-4">
    <div class="text-xl font-bold">{{ name }}</div>
    {% if data.paginator %}
    {% include table with features=data.object_list %}
    {% else %}
    {% include table with features=data %}
    {% endif %}
</div>
{% else %}
<div id="{{ container_id }}">{{ no_data }}</div>
{% endif %}
{% if data.paginator and data|length > 0 %}
<div id="{{ prefix }}_pagination" class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
            <a id="{{ prefix }}_first_link" href="?{{ page_query }}=1">&laquo; first</a>
            <a id="{{ prefix }}_prev_link" href="?{{ page_query }}={{ data.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}
        </span>

        {% if data.has_next %}
            <a id="{{ prefix }}_next_link" href="?{{ page_query }}={{ data.next_page_number }}">next</a>
            <a id="{{ prefix }}_last_link" href="?{{ page_query }}={{ data.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<div id="{{ prefix }}_pagination" style="display:none;"></div>
{% endif %}
