let __genDataPages = function(chromo, start, end, page, facets = []) {
    return dataPages(
        page,
        {{ url_function }},
        featureTable,
        emptyFeatureTable,
        feature => true,
        "{{ no_data }}",
        "{{ container_id }}",
        "{{ prefix }}_pagination",
        "{{ prefix }}",
        "{{ page_query }}"
    );
}

let __getPages = __genDataPages(initialLocation.chr, initialLocation.start, initialLocation.end, 1);

{% if data.has_previous %}
pageLink("{{ prefix }}_first_link", 1, __getPages);
pageLink("{{ prefix }}_prev_link", {{ data.previous_page_number }}, __getPages);
{% endif %}
{% if data.has_next %}
pageLink("{{ prefix }}_next_link", {{ data.next_page_number }}, __getPages);
pageLink("{{ prefix }}_last_link", {{ data.paginator.num_pages }}, __getPages);
{% endif %}
