{% load humanize %}
{% load custom_helpers %}

<div class="content-container min-w-full max-w-sm md:max-w-full">
    <div class="table-title flex flex-col md:flex-row items-center justify-between">
        <div class="flex-1">
            <!-- This empty div takes up space on the left for centering and for responsive design-->
        </div>
        <div class="table-container-title mx-auto">
            <i class="fa-solid fa-magnifying-glass-arrow-right hidden md:block ml-1"></i>
            <i class="fa-solid fa-barcode rotate-90 hidden md:block ml-1"></i>
            Regulatory Effect Observations
        </div>
        <div class="flex-1 flex justify-end items-center">
            <span class="text-lg">Download:</span>
            <a href="{% url 'search:source_effects' feature.accession_id %}?accept=text/tab-separated-values&tsv_format=original">
                <button class="tsv-button" id="downloadButton">TSV</button>
            </a>
            <a href="{% url 'search:source_effects' feature.accession_id %}?accept=text/tab-separated-values&tsv_format=bed6">
                <button class="tsv-button" id="downloadButtonNew">BED6</button>
            </a>
        </div>
    </div>

    <div class="title-separator"></div>
    <div class="overflow-x-auto">
        <table class="data-table" hx-target="#reg-table">
            <tr>
                <th class="chrom-first-end-cap chrom-light-band">Effect Size (log2FC)</th>
                <th class="chrom-dark-band">Direction</th>
                <th class="chrom-light-band">Corrected p-value</th>
                <th class="chrom-light-band chrom-right-centromere">Experiment</th>
                <th class="chrom-light-band chrom-left-centromere">Target</th>
                <th class="chrom-last-end-cap chrom-dark-band">REO Details</th>
            </tr>
            {% for regeffect in regeffects %}
            {% for re_target in regeffect.targets.all %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.effect_size|format_effect_size }}</td>
                <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.direction }}</td>
                <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.significance|format_pval }}</td>
                <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                {% endif %}
                <td><a href="{% url 'search:dna_features' 'accession' re_target.accession_id %}">{{ re_target.name }}</a></td>
                <td> <a href="{% url 'search:reg_effect' regeffect.accession_id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="svg-link-arrow bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td>{{ regeffect.effect_size|format_effect_size }}</td>
                    <td>{{ regeffect.direction }}</td>
                    <td>{{ regeffect.significance|format_pval }}</td>
                    <td><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                    <td>-</td>
                    <td> <a href="{% url 'search:reg_effect' regeffect.accession_id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="svg-link-arrow bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% endfor %}
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if regeffects.has_previous %}
                    <a href="?page=1" hx-get="{% url 'search:source_effects' feature.accession_id %}?page=1" hx-target="#reg-table">&laquo; first</a>
                    <a href="?page={{ regeffects.previous_page_number }}" hx-get="{% url 'search:source_effects' feature.accession_id %}?page={{ regeffects.previous_page_number }}" hx-target="#reg-table">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ regeffects.number }} of {{ regeffects.paginator.num_pages }}
                </span>

                {% if regeffects.has_next %}
                    <a href="?page={{ regeffects.next_page_number }}" hx-get="{% url 'search:source_effects' feature.accession_id %}?page={{ regeffects.next_page_number }}" hx-target="#reg-table">next</a>
                    <a href="?page={{ regeffects.paginator.num_pages }}" hx-get="{% url 'search:source_effects' feature.accession_id %}?page={{ regeffects.paginator.num_pages }}" hx-target="#reg-table">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
