<table class="data-table">
    <tr><th>ID</th><th>Effect Size</th><th>Direction</th><th>Significance</th><th>Experiment</th><th>Target</th></tr>
    {% for regeffect in features %}
        {% for re_target in regeffect.targets.all %}
        <tr>
            {% if forloop.first %}
            <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:reg_effect' regeffect.accession_id %}">{{ regeffect.accession_id }}</a></td>
            <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.effect_size }}</td>
            <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.direction }}</td>
            <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup">{{ regeffect.significance }}</td>
            <td rowspan="{% firstof regeffect.targets.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
            {% endif %}
           <td><a href="{% url 'search:dna_features' 'accession' re_target.accession_id %}">{{ re_target.accession_id }}</a></td>
        </tr>
        {% empty %}
            <tr>
                <td><a href="{% url 'search:reg_effect' regeffect.accession_id %}">{{ regeffect.accession_id }}</a></td>
                <td>{{ regeffect.effect_size }}</td>
                <td>{{ regeffect.direction }}</td>
                <td>{{ regeffect.significance }}</td>
                <td><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                <td>-</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>