{% load humanize %}
<div>
    <table class="data-table chrom-first-end-cap chrom-last-end-cap">
        <tr>
            <th>Element</th>
            <th>Closest Gene</th>
            <th>Reference Genome</th>
        </tr>
        {% for feature in features %}
            <tr class="data-row" data-href="{% url 'search:dna_features' 'accession' feature.accession_id %}">
                <td><a href="{% url 'search:dna_features' 'accession' feature.accession_id %}">{{ feature.get_feature_type_display }} (<span>{{ feature.chrom_name }}</span>: <span>{{ feature.location.lower|intcomma }}-{{ feature.location.upper|add:"-1"|intcomma }}</span>:{{ feature.strand }})</a></td>
                <td>{% if feature.closest_gene_ensembl_id %}<a href="/search/feature/ensembl/{{ feature.closest_gene_ensembl_id }}">{{ feature.closest_gene_name }} ({{ feature.closest_gene_ensembl_id }})</a>{% else %}N/A{% endif %}</td>
                <td>{{ feature.ref_genome }}.{{ feature.ref_genome_patch|default:"0" }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
