{% load custom_helpers %}

<div class="overflow-x-auto">
    <table class="data-table no-hover">
        <tr><th>Enhancer/Gene</th><th>Effect Size</th><th>Corrected p-value</th><th>Raw p-value</th><th>Experiment</th></tr>
        {% for regeffects in sig_reg_effects %}
            {% cycle '' 'bg-gray-100' as rowcolors silent %}
            {% for regeffect in regeffects %}
            <tr class="{{ rowcolors }}">
                <td>
                    <div>Tested Element Location{% if regeffect.source_locs|length > 1 %}s{% endif %}: {% for source in regeffect.source_locs %}<a href="{% url 'search:dna_features' 'accession' source.1 %}">{{ source.0 }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                    {% if regeffect.target_info %}
                    <div>Target Genes: {% for gene in regeffect.target_info %}<a href="{% url 'search:dna_features' 'ensembl' gene.1 %}">{{ gene.0 }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                    {% endif %}
                </td>
                <td><a href="{% url 'search:reg_effect' regeffect.reo_accession_id %}">{{ regeffect.effect_size|format_effect_size }}</a></td>
                <td><a href="{% url 'search:reg_effect' regeffect.reo_accession_id %}">{{ regeffect.sig|format_pval }}</a></td>
                <td><a href="{% url 'search:reg_effect' regeffect.reo_accession_id %}">{{ regeffect.p_value|format_pval }}</a></td>
                {% if forloop.first %}
                <td rowspan="{{ regeffects|length }}"><a href="{% url 'search:experiment' regeffect.expr_accession_id %}">{{ regeffect.expr_name }}</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
