{% load humanize %}
{% load custom_helpers %}

<div class="content-container min-w-full max-w-sm md:max-w-full">
    <div class="table-title flex flex-col md:flex-row items-center justify-between">
        <div class="flex-1">
            <!-- This empty div takes up space on the left for centering and for responsive design-->
        </div>
        <div class="table-container-title mx-auto">
            <i class="fa-solid fa-magnifying-glass-arrow-right hidden md:block ml-1"></i>
            <i class="fa-solid fa-barcode rotate-90 hidden md:block ml-1"></i>
            Targeting Regulatory Effect Observations
            <div class="relative group inline-block">
                <i class="fa-solid fa-circle-info"></i>
                <span class="absolute left-1/2 transform -translate-x-1/2 top-full mt-2 w-64 px-2 py-1 text-sm border border-gray-300 bg-white rounded opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    Regulatory effect observations targeting {{feature.name}}
                </span>
            </div>
        </div>
        <div class="flex-1 flex justify-end items-center">
            <span class="text-lg">Download:</span>
            <a href="{% url 'search:target_effects' feature.accession_id %}?accept=text/tab-separated-values&tsv_format=original">
                <button class="tsv-button" id="downloadButton">TSV</button>
            </a>
            <a href="{% url 'search:target_effects' feature.accession_id %}?accept=text/tab-separated-values&tsv_format=bed6">
                <button class="tsv-button" id="downloadButtonNew">BED6</button>
            </a>
        </div>
    </div>
    <div class="title-separator"></div>
    <div class="overflow-x-auto">
        <table class="data-table" hx-target="#target-table">
            <tr>
                <th class="chrom-first-end-cap chrom-light-band">Tested Element(s)</th>
                <th class="chrom-dark-band">Effect Size (log2FC)</th>
                <th class="chrom-light-band">Direction</th>
                <th class="chrom-light-band chrom-right-centromere">Corrected p-value</th>
                <th class="chrom-light-band chrom-left-centromere">Experiment</th>
                <th class="chrom-last-end-cap chrom-dark-band">REO Details</th>
            </tr>
            {% for regeffect in regeffects %}
            {% for re_source in regeffect.sources.all %}
            <tr>
                <td>
                    <a href="{% url 'search:dna_features' 'accession' re_source.accession_id %}"
                        >{{ re_source.get_feature_type_display }} @ {{ re_source.chrom_name }}: {{ re_source.location.lower|intcomma }}-{{ re_source.location.upper|intcomma }}</a
                    >
                </td>
                {% if forloop.first %}
                <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">
                    {{ regeffect.effect_size|stringformat:".3e" }}
                </td>
                <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">{{ regeffect.direction }}</td>
                <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">{{ regeffect.significance|stringformat:".3e" }}</td>
                <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup"><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                <td rowspan="{% firstof regeffect.sources.all|length 1 %}" scope="rowgroup">
                    <a href="{% url 'search:reg_effect' regeffect.accession_id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="svg-link-arrow bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                        </svg>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td>-</td>
                <td>{{ regeffect.effect_size }}</td>
                <td>{{ regeffect.direction }}</td>
                <td>{{ regeffect.significance }}</td>
                <td class="md:truncate truncate"><a href="{% url 'search:experiment' regeffect.experiment.accession_id %}">{{ regeffect.experiment.name }}</a></td>
                <td><a href="{% url 'search:reg_effect' regeffect.accession_id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="svg-link-arrow bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                    </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if regeffects.has_previous %}
                    <a href="?page=1" hx-get="{% url 'search:target_effects' feature.accession_id %}?page=1" hx-target="#target-table">&laquo; first</a>
                    <a href="?page={{ regeffects.previous_page_number }}" hx-get="{% url 'search:target_effects' feature.accession_id %}?page={{ regeffects.previous_page_number }}" hx-target="#target-table">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ regeffects.number }} of {{ regeffects.paginator.num_pages }}
                </span>

                {% if regeffects.has_next %}
                    <a href="?page={{ regeffects.next_page_number }}" hx-get="{% url 'search:target_effects' feature.accession_id %}?page={{ regeffects.next_page_number }}" hx-target="#target-table">next</a>
                    <a href="?page={{ regeffects.paginator.num_pages }}" hx-get="{% url 'search:target_effects' feature.accession_id %}?page={{ regeffects.paginator.num_pages }}" hx-target="#target-table">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
