{% extends "base.html" %}

{% block title %}About the CCGR Portal{% endblock title %}

{% block css %}
{{ block.super }}

<style>
    .about-container {
        color: #094474;
    }
</style>
{% endblock %}

{% block content %}

<div class="container about-container flex flex-col space-y-2">
    <h1>Duke Center for Combinitorial Gene Regulation Data Portal</h1>

    <h2>What is the Duke CCGR?</h2>

    <div>The goal of the Duke <a class="link" href="https://ccgr.duke.edu">Center for Combinitorial Gene Regulation</a>
        (CCGR) is to make combinatorial studies of the function of regulatory elements and noncoding variants routine.</div>

    <h2>What is the CCGR Portal?</h2>

    <div>The CCGR data portal is where experiment results from the CCGR and other sources, such as ENCODE, are loaded for dissemination, exploration, and further analysis.</div>

    <h2>What You Can Do with the CCGR Portal</h2>

    <ul class="list-disc">
        <li>Explore genomic regions</li>
        <li>Discover and download results from experiments performed on your favorite gene</li>
        <li>Look at multiple experiment result sets at the same time</li>
        <li>Find effects associated with elements in a specific region</li>
    </ul>

    <div class="min-w-full text-center"><a class="link" href="{% url 'licenses' %}">Software Library and License Information</a></div >
</div>

{% endblock content %}
