{% extends "base.html" %} {% block css %} {{ block.super }}
<style>
    .container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.1);
        font-family: sans-serif;
        color: #094474;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .container a {
        color: #2196f3;
        text-decoration: none;
    }

    .container a:hover {
        text-decoration: underline;
    }

    .container .header {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .container pre {
        white-space: pre-wrap;
        font-size: 0.8rem;
        color: #333;
        text-align: center;
    }
</style>

{% endblock %} {% block content %}

<div class="container">
    <div>CEGS CCGR Portal is built using <a href="https://www.djangoproject.com">Django</a></div>

    <div>
        CEGS CCGR Portal uses a modified version of the <a href="http://wtsi-web.github.io/Genoverse/">Genoverse</a>
        interactive genome browser.
    </div>

    <div class="header">Genoverse License</div>

    <pre>
  Copyright (c) 2011 Genome Research Ltd.
  Author: Evgeny Bragin

  Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
1. Redistributions of source code must retain the above copyright notice,
this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.
3. Neither the names Genome Research Ltd and Wellcome Trust Sanger
Institute nor the names of its contributors may be used to endorse or promote
products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY GENOME RESEARCH LTD AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL GENOME RESEARCH LTD OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </pre>

    <div>CEGS CCGR Portal uses the <a href="https://d3js.org">d3.js</a> library for data visualization</div>

    <div>
        CEGS CCGR Portal uses Léon Gersen's noUiSlider
        <a href="https://refreshless.com/nouislider/">Multi-range Slider</a>
    </div>

    <div>
        CEGS CCGR Portal uses a modified version of Observable's
        <a href="https://observablehq.com/@d3/color-legend">Color Legend</a>
    </div>

    <div>CEGS CCGR Portal uses the <a href="https://github.com/catcombo/django-hide-admin">django-hide-admin</a> library. Copyright (c) Evgeniy Krysanov</div>
</div>

{% endblock content %}
