{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div
    class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
>
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend
                    class="text-xl font-bold leading-tight tracking-tight md:text-2xl dark:text-white form-header-text"
                >
                    Reset Your Password <i class="bi bi-person-fill-lock"></i></i>
                </legend>
                <div class="faded-line my-3.5"></div>
                {{ form|crispy }} {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </fieldset>
            <div class="form-group">
                <button
                    type="submit"
                    class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                >
                {% translate 'Reset My Password' %}
                </button>
            </div>
            <div class="mt-1.5 italic">{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</div>


        </form>
    </div>
</div>
{% endblock %}
